QLabel#home_label
{
    color: white;
    font-weight: bold;
    font-size: 32px;
    border: 3px solid #808080;
    border-radius: 15px;
    background: url(:/images/EM_logo_round_medium.png) no-repeat left center fixed;
}

QComboBox#workLabelComboBox
{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

QPushButton
{
    background-color: #909090;
    font-weight: bold;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

QPushButton:disabled
{
    background-color: #C0C0C0;
}

QPushButton:hover
{
    background-color: #BFBFBF;
}

QTableView
{
    font-size: 12px;
    selection-background-color: #707070;
}

QHeaderView
{
    font-size: 11px;
}

QHeaderView::section
{
    background-color: #DADADA
}

QTableCornerButton::section
{
    background-color: #8B8D8E
}

QListWidget::item
{
    border-bottom: 1px solid #DADADA;
}

QListWidget::item:selected
{
    background: #707070;
}

QMessageBox
{
    font-size: 18px;
}

QMessageBox QLabel
{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
